
ul {
  counter-reset: li;
  list-style: none;
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
ul li {
  display:block;
  background: #D3D4DA;
  padding: .4em .4em .4em .8em;
  margin: .5em 0 .5em 2.5em;
  width: 30%;
}
ul a {
  position: relative;
  color: #444;
  text-decoration: none;
  transition: all .3s ease-out;

}
button {
  position: absolute;
  top:-3px;
  float:right;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid;
  padding: 0.23em 0.35em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
li:first-of-type{
  text-align: center;
  text-decoration: underline;
}
.normal {
  background-color: #4CAF50; /* Green */
  position: relative;
  float:none;
  border: none;
  color: white;
  padding: 8px 21px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-left: 5px;
  top:1px;
}
