<div id="prikaz">
  <div id="pretragaAdd">
    <label>Pretrazi: </label>
    <input name="pretraga " type="text" placeholder="Naziv" />
    <button (click)="dodajNoviTim()">Dodaj novi tim</button>
  </div>

  <div id="listAdd">
    <ul>
      <li *ngFor="let t of timovi">
        <a routerLink="/timDetail/{{ t.teamId }}">{{ t.teamName }}</a>
        <button (click)="deleteTeam(t.teamId)">DELETE</button>
        <button routerLink="/timDetail/{{ t.teamId }}">Detalji</button>
      </li>
    </ul>

    <div *ngIf="selectedTim != null" id="addnew">
      <div>
        <h2>Dodavanje novog tima!</h2>
        <div class="red">
          <label>Naziv tima: </label>
          <input [(ngModel)]="selectedTim.teamName" placeholder="naziv" />
        </div>

        <div class="red">
          <label>Grad iz kojeg dolazi</label>
          <input [(ngModel)]="selectedTim.city" placeholder="grad" />
        </div>
        <div class="red">
          <label> Id zemlje</label>
          <input [(ngModel)]="selectedTim.countryId" placeholder="id" />
        </div>
        <div class="red">
          <label>Godina osnivanja </label>
          <input [(ngModel)]="selectedTim.foundedYear" placeholder="godina" />
        </div>
        <button class="normal" (click)="insertTeam()">Sacuvaj</button>
      </div>
    </div>
  </div>
</div>
