
#listAdd {
  overflow: auto;
}
#listAdd::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */}
ul {
  position: relative;
  top: 2%;
  left: 2%;
  padding: 0px;
  margin: 0px;
  width: 40%;
}
ul li {
  list-style-type: none;
  border-bottom: 1px solid #457eab;
  font-size: 130%;
  padding: 1%;
}
ul a {
  width: 30%;
  text-decoration: none;
  color: black;
}
ul button {
  float: right;
  border-color: #457eab;
  border-radius: 25px;
  background-color: rgba(70, 145, 187, 0.78);
  width: 24.7%;
  padding: 3px;
  font-size: 85%;
}
