#Full {
  height: 100%;
  width: 100%;
 /*background-image: url("https://cdn.wallpapersafari.com/44/93/z9YJw7.jpg");*/
  background-image: url("extra/wallpaper.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#topMenu {
  position: absolute;
  margin: 2% 0% 0% 0%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1% 13% 1% 12%;
  border-bottom: 1px solid rgba(70, 145, 187, 0.78);
}
#listaComp{
  background-color: yellow;
}
#topMenu a {
  text-decoration: none;
  padding: 3%;
  font-size: 150%;
  color: black;
}
#topMenu a:hover {
  border-bottom: 1px solid black;
  box-shadow: 0 0.5em 0.5em -0.4rem;
  transform: translateY(-0.25em);
}

#sidenav {
  border-right: 1px solid rgba(70, 145, 187, 0.78);
  background-color: rgba(169, 169, 169, 0.13);
  position: absolute;
  margin-left: 2.5%;
  width: 10%;
  height: 86%;
  top: 13%;
}
#sidenav h4 {
  margin-left: 5%;
  text-align: center;
  font-size: 110%;
}
#sidenav ul {
  list-style-type: none;
  padding: 0px;
}
#sidenav li {
  font-size: 105%;
  padding: 0.001%;
  text-align: center;
}
#sidenav a:hover {
  border-bottom: 3px solid rgba(100, 159, 193);
}
#sidenav a {
  text-decoration: none;
  color:black;
}

#main {
  position: absolute;
  width: 87.5%;
  height: 87%;
  top: 13%;
  left: 12.5%;
}

#footer {
  position: fixed;
  display: inline-flex;
  margin: 0px;
  padding: 0px;
  color: white;
  font-size: 60%;
  width: 100%;
  top: 96%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.71);
}
#footer p:first-of-type {
  margin-left: 2%;
}
#footer p:nth-child(2) {
  position: relative;
  left: 30%;
}
#footer p:nth-child(3) {
  position: relative;
  left: 73%;
}
#sidenav {
  overflow: auto;
}
#sidenav::-webkit-scrollbar {
   display: none; /* for Chrome, Safari, and Opera */
 }
