<div id="Full">
  <nav id="topMenu">
    <a href="#"> Home</a>
    <a routerLink="/drzava">Drzave</a>
    <a routerLink="/timovi">Timovi</a>
    <a routerLink="/sport">Sportovi</a>
    <a routerLink="/competitions">Takmicenja</a>
    <a routerLink="/test-area">testarea</a>
  </nav>


  <div id="sidenav">
    <ul>
      <li *ngFor="let d of drzave">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{d.countryName}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
              <li *ngFor="let t of comp | FilterTimovi:d.countryId">
                <p id="nazivComp">{{t.naziv}}</p>
              </li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>
      </li>
    </ul>
  </div>



  <div id="main">
    <router-outlet></router-outlet>
  </div>

  <div id="footer">
    <p>Datum i vrijeme: {{todayDate | date:'short'}}</p>
    <p>Contact us at: email@email.com</p>
    <p>All rights reserved.</p>
  </div>
</div>
