<div id="prikaz">
  <div id="pretragaAdd">
    <label>Pretrazi: </label>
    <input name="pretraga" [(ngModel)]=countryName type="search" placeholder="Naziv" />
    <button (click)="dodajNovuDrzavu()">Dodaj novu drzavu</button>
  </div>

  <div id="listAdd" >
    <ul class="pagination">
      <li *ngFor="let d of drzave | FilterDrzava: countryName">
        <a routerLink="/detail/{{ d.countryId }}"> {{ d.countryName }} </a>
        <button (click)="deleteDrzavaById(d.countryId)">DELETE</button>
        <button routerLink="/detail/{{ d.countryId }}">Detalji</button>
      </li>
    </ul>

    <div *ngIf="selectedDrzava != null" id="addnew">
      <div>
        <h2>Dodavanje nove drzave!</h2>
        <label>Naziv drzave: </label>
        <input [(ngModel)]="selectedDrzava.countryName" placeholder="name" />
        <br />
        <button class="normal" (click)="insertCountry(selectedDrzava)">
          Sacuvaj
        </button>
      </div>
    </div>
  </div>
</div>
