<div id="prikaz">
  <div id="pretragaAdd">
    <label>Pretrazi: </label>
    <input name="pretraga" [(ngModel)]=naziv type="search" placeholder="Naziv" />
    <button (click)="dodajNoviComp()">Dodaj novo takmicenje</button>
  </div>

  <div id="listAdd" >
    <ul class="pagination">
      <li *ngFor="let c of competitions | FilterComp: naziv">
        <a routerLink="/detail/{{ c.id }}"> {{ c.naziv }} </a>
        <button (click)="deleteCompetitionById(c.id)">DELETE</button>
        <button routerLink="/comp-edit/{{ c.id }}">Detalji</button>
      </li>
    </ul>


    <div *ngIf="selectedCompetition != null" id="addnew">
      <div>
        <h2>Dodavanje novog natjecanja!</h2>
        <div class="red">
          <label>Naziv natjecanja: </label>
          <input [(ngModel)]="selectedCompetition.naziv" placeholder="naziv" />
        </div>

        <div class="red">
          <label>Sport :</label>
          <mat-form-field appearance="fill">
            <mat-label>Izaberi sport</mat-label>
            <mat-select [(ngModel)]="selectedCompetition.sportid">
              <mat-option *ngFor="let s of sportovi" value="{{s.sportsId}}">{{s.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="red">
          <label>Zemlja:</label>
          <mat-form-field appearance="fill">
            <mat-label>Izaberi drzavu</mat-label>
            <mat-select [(ngModel)]="selectedCompetition.countryid">
              <mat-option *ngFor="let d of drzave" value="{{d.countryId}}">{{d.countryName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <p>Sport naziv- {{selectedCompetition.naziv}} | SportID-{{selectedCompetition.sportid}} | CountryID-{{selectedCompetition.countryid}}</p>
        <button class="normal" (click)="insertCompetition()">Sacuvaj</button>
      </div>
    </div>
    <div>

    </div>
  </div>
</div>
