<div id="prikaz">
  <div id="pretragaAdd">
    <label>Pretrazi: </label>
    <input
      name="pretraga"
      [(ngModel)]="naziv"
      type="search"
      placeholder="Naziv"
    />
    <a routerLink="/event-add">
    <button>Kreiraj novi event</button>
    </a>
  </div>

  <ul id="lista">
    <li *ngFor="let c of competitions | FilterComp: naziv">
      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-description>
              <p>Prikazi dogadjaje</p>
            </mat-panel-description>
            <mat-panel-title>
              {{ c.naziv }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul>
            <li *ngFor="let e of events | FilterEvents:c.id">
              <div id="event">
                <a routerLink="/event-detail/{{ e.eventId }}">
                  <p>Vrijeme pocetka: {{ e.eventStartTime | date: "short" }}</p>
                  <p>
                    {{ e.eventStatus }} {{ e.homeTeam }} {{ e.result }}
                    {{ e.awayTeam }}
                  </p>
                </a>
              </div>
            </li>
          </ul>
        </mat-expansion-panel>
      </mat-accordion>
    </li>
  </ul>

</div>
